* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: rgb(7, 6, 20);
}

.topnav {
    overflow: hidden;
    margin-top: 43px;
    font-weight: bold;
    margin-left: 970px;
}
.background {
    background-image: url(image2.jpg);
    background-size: 1550px 300px;
    background-repeat: no-repeat;
    padding-top: 0px;
}
.topnav a {
    color:azure;
    padding: 35px 7px;
    text-decoration: none;
    font-size: 14px;
    font-weight:bold;
    text-transform: uppercase;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.topnav a:hover {
    color:rgb(199, 48, 78);  
}
.topnav .icon {
    display: none;
  }

h3 {
    float: left;
    font-family:'Brush Script MT', cursive;;
    font-size: 60px;
    color:azure;
    font-weight:lighter;
    margin-top: 15px;
    margin-left: 60px;
    padding: 0%;
    margin-bottom: 5px;
    position: sticky;
}
#nav {
    position: -webkit-sticky;
    position: sticky;
    position: fixed;
    top: 0;
    flex-wrap: wrap;
    align-items: centre;
}

.burger {
    margin-left:730px;
    display: none;
}
.burger div {
    width:27px;
    height:4px;
    background-color: azure;
    margin:5px;
}

#zero {
    color:azure;
    font-size: 45px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 50px;
    text-align: center;
    margin-left: 250px;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 12px;
}
#one {
    color:azure;
    font-size: 45px;
    margin-top: 115px;
    padding-left: 410px;
    line-height: 2px;
}
#two {
    color:rgb(75, 210, 176);
    font-size: 65px;
    padding-left: 325px;
    line-height: 140px;
}
#three {
    color:rgba(220, 220, 183, 0.923);
    font-size: 22px;
    padding-left: 257px;
    line-height: 10px;
}

.image {
    height:340px;
    width:300px;
    border-radius: 40%;
    float: right;
    padding-top: 10.5%;
    margin-right: 85px;
}

.intro {
    float:left;
}

.contact {
    width: 40px;
    height: 40px;
}

li {
    display: inline;
    margin-right: 30px !important;
    cursor: pointer;
}
.list1 {
    text-decoration: none;
    list-style: none;
    margin: 8px 63px !important;
    padding: 1px !important;
    justify-content: space-evenly;
    display: inline-flex;
    padding-bottom: 17px !important;
}

#connect {
    width: 45%;
    padding-left: 15% !important;
    padding-top: 24% !important;
    line-height: 46px;
    margin-top: 150px;
    text-decoration: none;
}

#about {
    color: rgb(234, 238, 230);
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 592px;
    text-align:center;
}

.aboutMe {
    box-sizing: border-box;
    flex-wrap: wrap;
    display: inline-flex;
}

.secondimage {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 140px;
    height: auto;
    margin-left: 620px;
    margin-top: 80px;
}

#aboutMe {
    color:azure;
    font-size: 25px;
    text-decoration: none;
    max-width: 1200px;
    margin-left: 100px;
    text-align: center;
    justify-content:space-around;
    margin-top: 60px;
}

#connectLink {
    color:rgba(84, 223, 228, 0.94); 
    text-decoration:none; 
    cursor:pointer;
}
#connectLink:hover {
    color:rgb(75, 210, 176);
    text-decoration: underline;
}
#myskills{
    color: rgb(234, 238, 230);
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    margin-right: 10px;
}
.skills {
    color: rgb(237, 215, 250);
    font-size: 30px;
    display:flex;  
    color:rgb(238, 236, 138); 
    margin-top:80px;
    justify-content:space-around;
    padding-bottom: 10px;
    line-height: 100px;
}
#myservices{
    color: rgb(234, 238, 230);
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
}

.list2 {
    margin-left: 555px;
    margin-top:70px;
}

.topnav2 {
    overflow: hidden;
    margin-top: 75px;
    font-weight: bold;
    padding-right: 460px;
    background-color:rgba(27, 27, 47, 0.916);
}
.topnav2 a {
    float: right;
    color:azure;
    padding: 50px 30px;
    text-decoration: none;
    font-size: 18px;
    word-spacing: 100px;
    font-family: 'Poppins', sans-serif;
}

.topnav2 a:hover {
    color:rgb(199, 48, 78);  
}
#copyright {
    color:azure; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:lighter; 
    font-style:oblique; 
    font-size:small; 
    padding-left:610px; 
    padding-bottom:40px;
    display:flex; 
    background-color:rgba(27, 27, 47, 0.916);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 5px;
    bottom: 0px;
    top:840px;
    background: #FFFFFF;
    -webkit-animation: section-title-run 5s infinite linear;
    animation: section-title-run 5s infinite linear;
}

/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 5px;
    left: 0;
    bottom: 0;
    top: 840px;
    background: linear-gradient(to right, #55fb43, #2759ff);
    border-radius: 2px;
}

.section-title.text-center::before {
    left: 48%;
    margin-left: -75px;
}

.section-title.section-title-sm::before {
    width: 90px;
    height: 3px;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 5px;
    bottom: 0px;
    background: #FFFFFF;
    -webkit-animation: section-title-run 5s infinite linear;
    animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
    width: 4px;
    height: 3px;
}

.section-title.text-center::after {
    -webkit-animation: section-title-run-center 5s infinite linear;
    animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
    -webkit-animation: section-title-run-sm 5s infinite linear;
    animation: section-title-run-sm 5s infinite linear;
}

@-webkit-keyframes section-title-run {
    0% {left: 0; } 50% { left : 145px; } 100% { left: 0; }
}

@-webkit-keyframes section-title-run-center {
    0% { left: 50%; margin-left: -75px; } 50% { left : 50%; margin-left: 45px; } 100% { left: 50%; margin-left: -75px; }
}

@-webkit-keyframes section-title-run-sm {
    0% {left: 0; } 50% { left : 85px; } 100% { left: 0; }
}

.section2-title::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 5px;
    bottom: 0px;
    top:1575px;
    background: #FFFFFF;
    -webkit-animation: section-title-run 5s infinite linear;
    animation: section-title-run 5s infinite linear;
}

/*** Section Title ***/
.section2-title::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 5px;
    left: 0;
    bottom: 0;
    top: 1575px;
    background: linear-gradient(to right, #55fb43, #2759ff);
    border-radius: 2px;
}

.section2-title.text-center::before {
    left: 48%;
    margin-left: -75px;
}

.section2-title.section-title-sm::before {
    width: 90px;
    height: 3px;
}

.section2-title::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 5px;
    bottom: 0px;
    background: #FFFFFF;
    -webkit-animation: section-title-run 5s infinite linear;
    animation: section-title-run 5s infinite linear;
}

.section2-title.section-title-sm::after {
    width: 4px;
    height: 3px;
}

.section2-title.text-center::after {
    -webkit-animation: section-title-run-center 5s infinite linear;
    animation: section-title-run-center 5s infinite linear;
}

.section2-title.section-title-sm::after {
    -webkit-animation: section-title-run-sm 5s infinite linear;
    animation: section-title-run-sm 5s infinite linear;
}

@-webkit-keyframes section-title-run {
    0% {left: 0; } 50% { left : 145px; } 100% { left: 0; }
}

@-webkit-keyframes section-title-run-center {
    0% { left: 50%; margin-left: -75px; } 50% { left : 50%; margin-left: 45px; } 100% { left: 50%; margin-left: -75px; }
}

@-webkit-keyframes section-title-run-sm {
    0% {left: 0; } 50% { left : 85px; } 100% { left: 0; }
}

.section3-title::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 5px;
    bottom: 0px;
    top:2230px;
    background: #FFFFFF;
    -webkit-animation: section-title-run 5s infinite linear;
    animation: section-title-run 5s infinite linear;
}

/*** Section Title ***/
.section3-title::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 5px;
    left: 0;
    bottom: 0;
    top: 2230px;
    background: linear-gradient(to right, #55fb43, #2759ff);
    border-radius: 2px;
}

.section3-title.text-center::before {
    left: 48%;
    margin-left: -75px;
}

.section3-title.section-title-sm::before {
    width: 90px;
    height: 3px;
}

.section3-title::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 5px;
    bottom: 0px;
    background: #FFFFFF;
    -webkit-animation: section-title-run 5s infinite linear;
    animation: section-title-run 5s infinite linear;
}

.section3-title.section-title-sm::after {
    width: 4px;
    height: 3px;
}

.section3-title.text-center::after {
    -webkit-animation: section-title-run-center 5s infinite linear;
    animation: section-title-run-center 5s infinite linear;
}

.section3-title.section-title-sm::after {
    -webkit-animation: section-title-run-sm 5s infinite linear;
    animation: section-title-run-sm 5s infinite linear;
}

@-webkit-keyframes section-title-run {
    0% {left: 0; } 50% { left : 145px; } 100% { left: 0; }
}

@-webkit-keyframes section-title-run-center {
    0% { left: 50%; margin-left: -75px; } 50% { left : 50%; margin-left: 45px; } 100% { left: 50%; margin-left: -75px; }
}

@-webkit-keyframes section-title-run-sm {
    0% {left: 0; } 50% { left : 85px; } 100% { left: 0; }
}

.section4-title::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 5px;
    bottom: 0px;
    top:2850px;
    background: #FFFFFF;
    -webkit-animation: section-title-run 5s infinite linear;
    animation: section-title-run 5s infinite linear;
}

/*** Section Title ***/
.section4-title::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 5px;
    left: 0;
    bottom: 0;
    top: 2850px;
    background: linear-gradient(to right, #55fb43, #2759ff);
    border-radius: 2px;
}

.section4-title.text-center::before {
    left: 48%;
    margin-left: -75px;
}

.section4-title.section-title-sm::before {
    width: 90px;
    height: 3px;
}

.section4-title::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 5px;
    bottom: 0px;
    background: #FFFFFF;
    -webkit-animation: section-title-run 5s infinite linear;
    animation: section-title-run 5s infinite linear;
}

.section4-title.section-title-sm::after {
    width: 4px;
    height: 3px;
}

.section4-title.text-center::after {
    -webkit-animation: section-title-run-center 5s infinite linear;
    animation: section-title-run-center 5s infinite linear;
}

.section4-title.section-title-sm::after {
    -webkit-animation: section-title-run-sm 5s infinite linear;
    animation: section-title-run-sm 5s infinite linear;
}

@-webkit-keyframes section-title-run {
    0% {left: 0; } 50% { left : 145px; } 100% { left: 0; }
}

@-webkit-keyframes section-title-run-center {
    0% { left: 50%; margin-left: -75px; } 50% { left : 50%; margin-left: 45px; } 100% { left: 50%; margin-left: -75px; }
}

@-webkit-keyframes section-title-run-sm {
    0% {left: 0; } 50% { left : 85px; } 100% { left: 0; }
}

.col-sm-6 .fa-check {
    background: linear-gradient(to right, #00e5ff, #1200ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

@media screen and (max-device-width:768px){
    body{
        overflow-x:hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(7, 6, 20);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translate (100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}
.nav-active{
    transform:translate(0%);
}

@keyframes navLinkFade{
    from{
        opacity:0;
        transform:translate(50px);
    }
    to{
        opacity:1;
        transform:translate(0px);
    }
}
.toggle.line1{
    transform: rotate(-45deg translate(-5px, 6px));
}
.toggle.line2{
    opacity:0;
}
.toggle.line3{
    transform: rotate(-45deg translate(-5px, -6px));
}